.para{
    color:blue
}
.navlinks{
    display: flex;
    font-size: 18px;
    flex-direction: row;
    justify-content:left;
    /* padding-left: 5px; */
}
.aboutlink{
    padding-right: 157px;
    margin-top: 7px;
    
}
.landingimage{
    width: 100%;
    height: 100vh;
}
/* .hearticon{
    color: #230303;
    
} */
.all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(77, 76, 74); */

    /* background-image: url('../public/Images/imageland.jpg');
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: none;
    width: 100%;
    height: 100vh;  */
}
.icons{
    margin-right: 30px;
}

/*  */
/* .card-container{
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px; 
  
   
}
.image-container{
    overflow: hidden;
    height: 200px;
} */
.property{
    padding-top:4rem;
    padding-bottom: 1rem;
    display: grid; 
    place-items: center;

}
/* .center h3{
font-size: 100px;
font-weight: 500;
color:rgb(188, 15, 15);

} */
.row{
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding-left: 300px; 
    /* margin-left: 200px; */
}
.single-property{
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(26, 25, 25, 0.05);
    margin-bottom: 30px;
    overflow: hidden; 
}  
.column{
    padding-left: 1rem;
    padding-right: 1rem;
}
/* .property-thumb{
    position: relative;
    overflow: hidden;
} */
/* .property-tag{
    position:absolute;
    top:25px;
    left:25px;
    background:orange;
    padding: 8px 14px;
    color:white;
    border-radius: 30px;
    font-size:13px;
    font-weight: 500px;
    z-index: -1;
} */
.property-thumb img{
    width: 280px;
    height: 330px;
    vertical-align: middle;  
      
}
/* .property-content{
    padding: 25px;
} */
    /* border-bottom: 1px solid black;

/* .property-content h3{
     margin-bottom: 8px; 
    font-size: 16px;
    color: black;
    font-weight: 500;
} */
.buttonstyling{
    display: flex;
}
/* .landing{
    background-image: url('../public/Images/imageland.jpg');
    background-size: cover;
    background-position: center; 
  background-repeat: none;
    width: 100%;
    height: 100vh;
}  */
 .landingbutton{
    background-color: #060004; /* Green */
     border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    cursor: pointer; 

    position: absolute;
  top: 59%;
  left: 20%;
  transform: translate(-80%, -50%);
}
.toptext{
    font-weight: bold;
    font-size: 25px;
    position: absolute;
  top: -15px;
  left: 20px;
  font-style: italic;
  color:rgb(12, 12, 115) ;
} 
.text{
    font-weight:bold;
    font-size: 30px;
    font-style: italic;
    position: absolute;
  top: 38%;
  left: 25%;
  transform: translate(-80%, -50%);
  /* color:rgb(12, 12, 115) ; */
}
.longtext{
    font-weight:bold;
    font-size: 15px;
    font-style: italic;
    position: absolute;
  top: 48%;
  left: 28%;
  transform: translate(-80%, -50%);
  /* color:rgb(12, 12, 115) ; */
}
.searchspace{
    /* padding: 7px; */
    border-radius: 15px;
    padding-right: 75px;
    padding-top: 8px;
    padding-left: 30px;
    padding-bottom: 5px
}
/* .logbutton{
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   float: right;
  /* margin-left: 76vh; */
/* } */
/* .logbutton:hover{
  background-color: #45a049;
} */ 
.wishlistbutton{
    background-color: #094c7e; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 6px;
    cursor: pointer;
  }
  .gotowishlist{
    background-color: #85056f; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 6px;
    cursor: pointer;
  }
  .cartremove{
    background-color: #b6130a; /* Green */
    border: none;
    border-radius: 15px;
    color: rgb(244, 237, 237);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 11px 5px;
    cursor: pointer;
  }
  .totalprice{
    margin-left:310px;
  }
  .cartbutton{
    background-color: #225623; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
  }
  .cartButton{
    background-color: #746706; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
  }
  .cartbuynow{
    background-color: #0835a9; /* Green */
    border: none;
    border-radius: 15px;
    color: rgb(246, 239, 239);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 11px 95px;
    cursor: pointer;
  }
  .wishlistremove{
    background-color: #b50c0c; /* Green */
    border: none;
    border-radius: 15px;
    color: rgb(246, 239, 239);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
  }
  .searchbutton{
    background-color: #4c4c4d; /* Green */
    border: none;
    border-radius: 15px;
    color: rgb(246, 239, 239);
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  .sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(128, 128, 135);
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #3b0202;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .rounded-checkbox {
    width:15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  .rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
  }
 .sortbuttons{
    margin-top: 60px;
    margin-left: 20px;
    font-weight: bold;
    font-style: italic;
  }
  .filters{
    margin-left: 20px;
  }
  .sort{
    /* background-color: #717176;; */
    background-color:  #4c4c4d;;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 2px;
    cursor: pointer;
    font-style: italic;
  }
  .pricebuttons{
    margin-top: 40px;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
  }
  .categorybuttons{
    margin-top: 40px;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
  }
@media screen and (max-width:1156px) {
    .row{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:768px) {
    .property{
        padding-bottom: 2rem;
    }
    .row{
        grid-template-columns: 1fr;
    }
    .single-property{
        width: 500px;
    }
    .column{
        padding-bottom: 2rem;
    }
    .property-thumb img{
        width: 500px;
    }
    .property-content{
        padding: 15px;;
    }
}
@media screen and (max-width:560px) {
    .property{
        padding-bottom: 2rem;
    }
    /* .row{
        grid-template-columns: 1fr;
    } */
    .single-property{
        width: 450px;
    }
    .column{
        padding-bottom: 1rem;
    }
    .property-thumb img{
        width: 450px;
    }
    /* .property-content{
        padding: 15px;;
    } */
}
@media screen and (max-width:483px) {
    .single-property{
        width: 400px;
    }
    .property-thumb img{
        width: 400px;
    }

}


